<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Members{% endblock %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <div class="container">
            <h2 class="center-align">All Members</h2>
	    <p class="center-align"><strong>Meeting Weds in class and Saturday 8am</strong></p>
            <p class="center-align"><strong>Team communication: Discord (https://discord.gg/tzZ3p8sq)</strong></p>
            <div class="row">
                {% for member in member_list %}
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image">
                            {% if member.image %}
                                <img src="{{ member.image.url }}" alt="{{ member.name }}" class="responsive-img">
                            {% else %}
                                <img src="{% static '../../media/member_images/grumpmonkey.jpeg' %}" alt="default avatar" class="responsive-img">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <h4 class="card-title center-align">{{ member.name }}</h4>
                            <p class="center-align"><strong>{{ member.role }}</strong></p>
                            <p class="center-align">{{ member.pronouns }}</p>
                            <p class="center-align">{{ member.description }}</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{% url 'about:detail' member.id %}" class="waves-effect waves-light btn">Click me to learn more about me</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
